@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "glassinoo";
  default: true;
  prefersdark: false;
  color-scheme: "light";

  --color-base-100: oklch(99% 0.001 106);   
  --color-base-200: oklch(96% 0.002 106); 
  --color-base-300: oklch(90% 0.01 106);   
  --color-base-content: oklch(20% 0.01 106);

  --color-primary: oklch(60% 0.18 250); 
  --color-primary-content: oklch(98% 0.01 250);

  --color-secondary: oklch(75% 0.02 250); 
  --color-secondary-content: oklch(25% 0.01 250);

  --color-accent: oklch(70% 0.16 240);    
  --color-accent-content: oklch(98% 0.01 240);

  --color-neutral: oklch(35% 0.01 250);   
  --color-neutral-content: oklch(98% 0.01 250);

  --color-info: oklch(68% 0.14 230);
  --color-info-content: oklch(97% 0.01 230);

  --color-success: oklch(70% 0.15 160);
  --color-success-content: oklch(98% 0.01 160);

  --color-warning: oklch(78% 0.18 80);
  --color-warning-content: oklch(25% 0.01 80);

  --color-error: oklch(60% 0.22 25);
  --color-error-content: oklch(96% 0.01 25);

  --radius-selector: 0.5rem; 
  --radius-field: 0.375rem;   
  --radius-box: 0.75rem;      

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;              
  --border-color: oklch(85% 0.01 250); 
  --border-focus: oklch(60% 0.18 250); 

  --depth: 2;                 
  --shadow-color: oklch(0% 0 0 / 0.1);

  --noise: 0;                
}

.menu-active {
  @apply bg-base-200 text-secondary-content rounded-sm shadow-sm;
}
.dock-active {
  @apply text-secondary-content rounded-sm shadow-sm;
}

@import "vazirmatn/Vazirmatn-font-face.css";
body {
  font-family: "Vazirmatn", sans-serif;
}
